<style>
  .selections {
    margin: 1em;
    height: auto;
  }

  .left-selection {
    float: left;
    width: 50%;
  }

  .right-selection {
    float: right;
    width: 50%;
  }
  
  .current-selection {
    clear: both;
    margin: 0 auto;
    text-align: center;
  }
</style>

<div class="selections">
  <ul class="left-selection">
    Available selections:

    {{#each machine in availableMachines}}
      <li>{{machine.name}} <button {{action 'removeMachine' machine}}>-</button></li>
    {{/each}}
  </ul>
  
  <ul class="right-selection">
    Excluded selections:

    {{#each machine in excludedMachines}}
      <li>{{machine.name}} <button {{action 'addMachine' machine}}>+</button></li>
    {{/each}}
  </ul>
</div>

<div class="current-selection">
  Current selection: <strong>{{currentMachine.name}}</strong>
  
  <p>
    <button {{action 'randomize'}}>Randomize</button>
  </p>
</div>

