<td>{{tableIndex}}</td>
<td>{{#link-to 'player' entry.player}}{{entry.player.username}}{{/link-to}}</td>
<td>{{entry.lastChange}}</td>
<td>1000</td>
<td>????</td>
<td>{{time-in-minutes entry.time}}</td>
<td>{{time-in-minutes entry.lap}}</td>
