<td>{{tableIndex}}</td>
<td>{{#link-to 'player' entry.player}}{{entry.player.username}}{{/link-to}}</td>
<td>{{entry.lastChange}}</td>
<td>
  {{entry.srprScore}}
  {{#if (not (eq index 0))}}
    <span style="color: red;">-{{previousSrprScore}}</span>
  {{/if}}
</td>
<td>{{entry.afScore}}</td>
<td>{{time-in-minutes entry.time}}</td>
<td>{{time-in-minutes entry.lap}}</td>
