<td>{{tableIndex}}</td>
<td>{{#link-to 'player' entry.player.id}}{{entry.player.username}}{{/link-to}}</td>
<td>{{entry.lastChange}}</td>
<td>
  {{entry.srprScore}}
  <span style="color: red;">{{scoreDifferential}}</span>
</td>
<td>{{entry.afScore}}</td>
<td>{{time-in-minutes entry.time}}</td>
<td>{{time-in-minutes entry.lap}}</td>
